@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply flex justify-center;
  }
  body {
    @apply font-barlow overflow-x-hidden max-w-[1920px] w-full h-full;
  }
}

@layer components {
  @media (max-width: 768px) {
    .triangle {
      border-bottom: solid 24px #ffffff;
      border-right: solid 24px #ffffff;
      border-left: solid 24px transparent;
      border-top: solid 24px transparent;
    }
  }

  .bg-hero {
    background-image: url('../public/images/mobile/image-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }

  @media (min-width: 768px) {
    .bg-hero {
      background-image: url('../public/images/desktop/image-header.jpg');
    }
  }

  .learn-button:hover .cool-underscore {
    @apply opacity-100;
  }

  .cool-underscore {
    @apply h-[10px] w-full rounded-[28px] absolute top-[15px] -z-10;
  }

  .bg-cherry {
    background-image: url('../public/images/mobile/image-graphic-design.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }

  @media (min-width: 768px) {
    .bg-cherry {
      background-image: url('../public/images/desktop/image-graphic-design.jpg');
    }
  }

  .bg-orange {
    background-image: url('../public/images/mobile/image-photography.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }

  @media (min-width: 768px) {
    .bg-orange {
      background-image: url('../public/images/desktop/image-photography.jpg');
    }
  }
}
